.events-list-item
    .events-list-item__date
        span.events-list-item__date-number 24
        span.events-list-item__date-month апреля
        span.events-list-item__date-time 12:00
        .events-list-item__date-notice Дата может быть изменена, уточняйте

    .events-list-item__image
        img(src="/images/event-image.jpeg")

    .events-list-item__description
        .events-list-item__description-tags
            +tags(['Региональный конкурс', '10–15 лет', 'Бесплатно'])
        .events-list-item__description-title Международный конкурс «Фортепианная феерия»
        .events-list-item__description-text Москва, Абрикосовский переулок, 1
