$i144: 144px;
$i120: 120px;
$i96: 96px;
$i64: 64px;
$i56: 56px; 
$i48: 48px;
$i40: 40px;
$i32: 32px;
$i24: 24px;
$i16: 16px;
$i8: 8px;
$i4: 4px;

$pageindent: 50px;
$contentindent: 80px;
$contentIndentMobile: 24px;
$headerHeight: 120px;
$headerMobileHeight: 86px;