.categories-row
    .categories-row__label Категории
    .categories-row__wrapper
        .categories-row__item
            .categories-row__item-label Струнно-смычковые
            .categories-row__item-img 
                img(src="./images/category/string-bowed.png", alt="")
        .categories-row__item
            .categories-row__item-label Клавишные
            .categories-row__item-img 
                img(src="./images/category/keyboards.png", alt="")
        .categories-row__item
            .categories-row__item-label Ударные
            .categories-row__item-img 
                img(src="./images/category/drums.png", alt="")
        .categories-row__item
            .categories-row__item-label Духовые
            .categories-row__item-img 
                img(src="./images/category/brass.png", alt="")
        .categories-row__item
            .categories-row__item-label Струнно-щипковые
            .categories-row__item-img 
                img(src="./images/category/string-plucked.png", alt="")
        .categories-row__item
            .categories-row__item-label Язычковые
            .categories-row__item-img 
                img(src="./images/category/reed.png", alt="")
        .categories-row__item
            .categories-row__item-label Звуковое оборудование
            .categories-row__item-img 
                img(src="./images/category/sound-equipment.png", alt="")
