.category-notes
    .category-notes__item
        .category-notes__item-image
            img(src="/images/1.jpeg")
        .category-notes__item-text        
            .category-notes__item-title Классическая музыка
            .category-notes__item-description Короткий текст об этой программе примерно на пять-шесть строк, без воды
    .category-notes__item
        .category-notes__item-image
            img(src="/images/2.jpeg")
        .category-notes__item-text        
            .category-notes__item-title Русская современная музыка
            .category-notes__item-description Лучшие образцы классической музыки, разобранные для разных инструментов
    .category-notes__item
        .category-notes__item-image
            img(src="/images/3.jpeg")
        .category-notes__item-text
            .category-notes__item-title Зарубежная музыка
            .category-notes__item-description Короткий текст об этой программе примерно на пять-шесть строк, без воды
    .category-notes__item
        .category-notes__item-image
            img(src="/images/4.jpeg")
        .category-notes__item-text        
            .category-notes__item-title Саундтреки к фильмам
            .category-notes__item-description Короткий текст об этой программе примерно на пять-шесть строк, без воды
    .category-notes__item
        .category-notes__item-image
            img(src="/images/5.jpeg")
        .category-notes__item-text        
            .category-notes__item-title Джаз и блюз
            .category-notes__item-description Короткий текст об этой программе примерно на пять-шесть строк, без воды
    .category-notes__item
        .category-notes__item-image
            img(src="/images/6.jpeg")
        .category-notes__item-text        
            .category-notes__item-title Детские песни
            .category-notes__item-description Короткий текст об этой программе примерно на пять-шесть строк, без воды