footer.footer
    .content-wrapper
        .footer-wrapper
            .footer-menu-wrapper
                .footer-menu.js-toggle-footer-menu
                    .footer-menu__title.js-toggle-footer Родителям и ученикам
                        include ../svg-icons/arrow-toggle
                    ul.footer-menu__list
                        li.footer-menu__list-item
                            a(href='#') Найти ДШИ
                        li.footer-menu__list-item
                            a(href='#') Выбрать программу
                        li.footer-menu__list-item
                            a(href='#') Интервью с музыкантами
                        li.footer-menu__list-item
                            a(href='#') Теория
                        li.footer-menu__list-item
                            a(href='#')  Игры
                        li.footer-menu__list-item
                            a(href='#')  Конкурсы
                .footer-menu.js-toggle-footer-menu
                    .footer-menu__title.js-toggle-footer Музыкальные инструменты
                        include ../svg-icons/arrow-toggle
                    ul.footer-menu__list
                        li.footer-menu__list-item
                            a(href='#') Классификатор
                        li.footer-menu__list-item
                            a(href='#') Российские производители
                        li.footer-menu__list-item
                            a(href='#') Каталог инструментов
                        li.footer-menu__list-item
                            a(href='#') Истории и статьи
                .footer-menu.js-toggle-footer-menu
                    .footer-menu__title.js-toggle-footer Самостоятельным
                        include ../svg-icons/arrow-toggle
                    ul.footer-menu__list
                        li.footer-menu__list-item
                            a(href='#') Онлайн курсы
                        li.footer-menu__list-item
                            a(href='#') Подкасты
            .footer-contacts
                a(href='mailto:hello@muzklassy.ru').footer-contacts__mail hello@muzklassy.ru
                // a(href='tel: +74997098459').footer-contacts__phone +7 (499) 709 84 59
                .footer-contacts__description Ответим на письмо по будням <br/> с 09.00 до 22.00 МСК
        .footer-wrapper.mobile
            .footer-contacts.mobile
                a(href='mailto:hello@muzklassy.ru').footer-contacts__mail hello@muzklassy.ru
                // a(href='tel: +74997098459').footer-contacts__phone +7 (499) 709 84 59
                .footer-contacts__description Ответим на письмо по будням <br/> с 09.00 до 22.00 МСК
            .footer-cp
                a(href='#').footer-cp__item Политика конфиденциальности
                a(href='#').footer-cp__item Положение о персональных данных
                span.footer-cp__item © 2021 Портал музыкальной индустрии
