.interview
    .interview__wrapper
        .interview-image
            img(src="/images/interview.jpeg")
        .interview-description
            .interview-description__title Константинопольский Константин
            .interview-description__text Умение определять интервалы на слух поможет лучше справляться с диктантами на уроках сольфеджио
            a(href="#") Подробнее
                img(src="images/svg/arrow.svg", alt="")
