.lifehsck-slider.full-width-slider
    +slider('js-lifehack-slider')
        +sliderItem()
            .lifehsck-slider__item
                .lifehsck-slider__item-title Как определить интервал на слух
                .lifehsck-slider__item-description Короткий текст об этой программе примерно на пять-шесть строк, без воды
                a(href="#").btn смотреть
        +sliderItem()
            .lifehsck-slider__item
                .lifehsck-slider__item-title Как взять аккорд
                .lifehsck-slider__item-description Короткий текст об этой программе примерно на пять-шесть строк, без воды
                a(href="#").btn смотреть
        +sliderItem()
            .lifehsck-slider__item
                .lifehsck-slider__item-title Как читать табулатуры
                .lifehsck-slider__item-description Короткий текст об этой программе примерно на пять-шесть строк, без воды
                a(href="#").btn смотреть
        +sliderItem()
            .lifehsck-slider__item
                .lifehsck-slider__item-title Как читать ноты
                .lifehsck-slider__item-description Короткий текст об этой программе примерно на пять-шесть строк, без воды
                a(href="#").btn смотреть
        +sliderItem()
            .lifehsck-slider__item
                .lifehsck-slider__item-title Как определить интервал на слух
                .lifehsck-slider__item-description Короткий текст об этой программе примерно на пять-шесть строк, без воды
                a(href="#").btn смотреть