.music-game
    .music-game__image
        img(src="/images/guitar2.png")
    .music-game__description
        .music-game__subtitle Мелодические диктанты
        .music-game__title Фразы попугаев
        .music-game__text Эта игра помогает начинающему или ребенку запоминать порядок музыкальных нот.
        a(href='#').btn.btn-gradient-transparent
            span.gradient
            span
                span Играть
