.note-slider.full-width-slider
    +slider('js-note-slider')
        +sliderItem()
            .note-slider__item
                .note-slider__item-image
                    img(src="/images/notes-small.jpg", alt="", srcset="")
                .note-slider__item-wrapper
                    .note-slider__item-tags
                        +tags(['Фортепиано', 'Скрипка'])
                    .note-slider__item-title Элегическое трио № 2 ре минор «Памяти великого художника»
                    .note-slider__item-author С. Рахманинов
        +sliderItem()
            .note-slider__item
                .note-slider__item-image
                    img(src="/images/notes-small.jpg", alt="", srcset="")
                .note-slider__item-wrapper
                    .note-slider__item-tags
                        +tags(['Фортепиано', 'Скрипка'])
                    .note-slider__item-title Элегическое трио № 2 ре минор «Памяти великого художника»
                    .note-slider__item-author С. Рахманинов
