.pagination
    a(href="#").pagination__item.pagination__item--prev
        include ../svg-icons/pagination_arrow.pug
    a(href="#").pagination__item.pagination__item--current 1 
    a(href="#").pagination__item 2 
    a(href="#").pagination__item 3 
    a(href="#").pagination__item 4 
    a(href="#").pagination__item 5 
    a(href="#").pagination__item.pagination__item--next
        include ../svg-icons/pagination_arrow.pug
    