.podcast-slider-item
    .podcast-slider-item__image
        img(src="/images/podcast_slide_item.jpeg")
    .podcast-slider-item__description
        .podcast-slider-item__title Ноты&Датs — Вимбо
        .podcast-slider-item__text Подкаст для тех, кто хочет научиться слушать классику, понимать ее и развить привычку о ней думать.
        span.podcast-slider-item__date 27 эпизодов • 23 ч 39 м
