.podcast-slider.full-width-slider
    +slider('js-slider-auto-width')
        +sliderItem()
            include ./podcast-slider-item
        +sliderItem()
            include ./podcast-slider-item
        +sliderItem()
            include ./podcast-slider-item
        +sliderItem()
            include ./podcast-slider-item
        +sliderItem()
            include ./podcast-slider-item
        +sliderItem()
            include ./podcast-slider-item