.producer
    .producer__img
        img(src="/images/producer.jpeg", alt="", srcset="")
    .producer__description
        .producer__title Тульская гармонь
        .producer__sub-title ООО «Тульская гармонь»
        .producer__tags
            +tags(['Балалайка', 'Аксессуары', 'Колесные лиры', 'Ремни', 'Чехлы'])
        .producer__text
            .producer__text-item
                span 432001, Ульяновск, 1-я Улица
                span Попова, д. 18 А
            .producer__text-item
                span sales@balalaiker.com
                span balalaiker.ru
            .producer__text-item
                span +7 (967) 100-32-23

