.video-course
    .video-course-image
        img(src="/images/guitar.jpeg")
    .video-course-description
        .video-course-tags
            +tags(['Электрогитара', 'Акустическая гитара'])
        .video-course-title Для гитаристов среднего уровня
        .video-course-option
            .video-course-option__item
                span Уровень:
                span Средний
            .video-course-option__item
                span Время обучения:
                span 8 часов
            .video-course-option__item
                span Всего уроков:
                span 8
        .video-course-text
            |Курс для тех, кто уже знает базовые аккорды и приемы игры. На курсе вы научитесь играть гаммы для развития рук, играть септаккорды, играть разные гитарные фишки и украшения, ритмы на слабую долюи, грать в размере 3/4 и многому другому!
        a(href='#').btn.btn-gradient-transparent
            span.gradient
            span
                span Подробнее
