mixin articleItem(srs="/images/article.jpg")
    .article-item
        .article-item__image
            picture
                img(src=srs)

        .article-item__description
            .article-item__tag Развлекательные
            .article-item__title История фабрики и этапы производства, экскурсия
            .article-item__author Еромаева Ольга
