mixin header(mod)
    header.header.js-header(class=mod)
        .header-content
            .header-logo
                a(href='/').header-logo__blue
                    <svg width="222" height="48" viewBox="0 0 222 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.8936 30.2754C17.3819 23.8587 19.7689 17.7116 22.1738 11.5278H26.5192C27.6264 19.7647 28.7098 27.9404 29.7515 36.3428C28.8229 36.3428 28.1086 36.3428 27.3705 36.3428C26.8228 36.3428 26.2752 36.2999 25.6382 36.2692C24.9001 30.6921 24.1739 25.207 23.3941 19.3296L16.8163 36.2508H12.9709L6.42295 19.538C5.82769 22.6023 5.57172 25.348 5.23242 28.0752C4.89311 30.8025 4.48239 33.4929 4.08951 36.257H0L3.25612 11.5462H7.57778C9.95885 17.6259 12.3399 23.8158 14.8936 30.2754Z" fill="#152124"/>
                        <path d="M53.2061 28.1367L56.7777 27.2235C57.0039 27.8057 57.1646 28.2225 57.3313 28.6392C57.7314 29.7256 58.427 30.6703 59.3349 31.3604C60.2427 32.0506 61.3244 32.4569 62.4506 32.5309C64.2066 32.7454 65.9269 32.7025 67.5104 31.8016C69.2485 30.8149 69.689 28.4492 68.3616 27.1193C67.6769 26.4174 66.7561 26.0136 65.79 25.9916C64.3852 25.9549 62.9804 25.9426 61.5696 25.912C61.1291 25.912 60.6945 25.8691 60.1409 25.8446V21.91C61.3315 21.91 62.4923 21.91 63.653 21.8487C64.721 21.9207 65.7911 21.7448 66.7841 21.3339C67.2527 21.1377 67.6572 20.8081 67.9503 20.3837C68.2434 19.9592 68.4129 19.4576 68.439 18.9376C68.4947 18.3623 68.3913 17.7826 68.1406 17.2653C67.8899 16.748 67.5022 16.3143 67.0222 16.0142C66.0454 15.4346 64.9351 15.1361 63.8078 15.1501C62.1589 15.0826 60.5338 15.3278 59.2123 16.4493C58.6584 16.9308 58.1822 17.4996 57.8015 18.1347C57.4161 18.8795 57.0781 19.6492 56.7896 20.4391C55.599 20.5739 54.4859 20.0285 53.218 19.6791C53.2827 18.1139 53.8312 16.6109 54.7835 15.3891C55.6368 14.1249 56.7641 13.0825 58.0762 12.3443C59.3883 11.6061 60.8492 11.1924 62.3434 11.1358C64.8782 10.8385 67.435 11.4512 69.5819 12.8702C72.3499 14.7946 73.3916 18.2634 71.963 21.1745C71.3878 22.105 70.728 22.9772 69.9926 23.7792C70.1226 23.9151 70.2663 24.0363 70.4212 24.1408C73.9274 26.2491 74.5107 31.6974 70.3796 34.676C67.5461 36.7168 64.3733 37.0723 61.0338 36.3981C57.0634 35.6014 54.5752 33.156 53.3668 29.2766C53.2856 28.9013 53.2319 28.5203 53.2061 28.1367Z" fill="#152124"/>
                        <path d="M119.829 11.5532V36.3436C118.978 36.3436 118.204 36.3436 117.448 36.3436C116.954 36.3436 116.466 36.2946 115.817 36.2578V15.6778H107.174C106.656 16.2049 106.763 16.9771 106.71 17.7003C106.466 21.071 106.305 24.4418 105.954 27.8064C105.818 29.8737 105.206 31.878 104.168 33.6532C103.676 34.4262 103.017 35.0714 102.243 35.5382C101.468 36.005 100.599 36.2807 99.7034 36.3436C99.2094 36.4049 98.7093 36.4233 98.0426 36.4785C97.8878 35.2527 97.7331 34.027 97.5664 32.6787C97.8863 32.4822 98.2337 32.3376 98.5962 32.2497C100.346 32.0965 101.209 30.9627 101.513 29.3876C101.846 27.6485 102.079 25.8906 102.209 24.1231C102.519 20.1272 102.739 16.1558 103.007 12.1293C103.046 11.9339 103.104 11.743 103.18 11.5593L119.829 11.5532Z" fill="#152124"/>
                        <path d="M84.4094 26.0601H81.6236V36.0682C80.8973 36.5094 80.2128 36.3072 79.5639 36.3378C78.9151 36.3685 78.2246 36.3378 77.5817 36.3378C77.2364 35.0263 77.1174 14.955 77.415 11.6516C78.0103 11.2778 78.6889 11.4861 79.3377 11.4555C79.9866 11.4248 80.6771 11.4555 81.5402 11.4555C81.6831 14.9059 81.5402 18.2644 81.6354 21.6474C82.5045 21.9906 83.3379 21.7945 84.3261 21.8313L92.3444 11.5229H97.3506L87.8263 23.9028L97.3148 36.2643H92.3086L84.4094 26.0601Z" fill="#152124"/>
                        <path d="M132.824 11.4924H137.068C140.432 19.6558 143.819 27.8621 147.265 36.2216H142.932L140.134 29.48H129.752L126.907 36.2767H122.591L132.824 11.4924ZM134.937 16.7263L131.336 25.5209C132.61 25.5209 133.717 25.5209 134.842 25.5209C136.059 25.563 137.277 25.5364 138.491 25.4413C137.3 22.5301 136.193 19.8029 134.967 16.7263H134.937Z" fill="#152124"/>
                        <path d="M196.171 36.1771V11.5828C197.554 11.4045 198.951 11.3881 200.338 11.5338C200.439 14.5981 200.338 17.5889 200.409 20.7267C202.094 20.7267 203.653 20.7267 205.213 20.7267C206.773 20.7267 208.344 20.6532 209.868 21.2538C212.969 22.4795 214.743 24.7594 214.91 28.075C215.071 31.2313 213.672 33.7195 210.91 35.2823C209.836 35.9237 208.621 36.2718 207.38 36.2935C203.844 36.2935 200.302 36.2935 196.76 36.2935C196.561 36.2732 196.363 36.2343 196.171 36.1771ZM200.487 32.3712C202.612 32.3712 204.618 32.4141 206.624 32.3712C207.348 32.3304 208.059 32.1582 208.725 31.8625C210.183 31.2496 210.695 29.9442 210.838 28.4795C210.243 25.9116 209.558 25.0597 207.088 24.8023C204.933 24.5878 202.749 24.7594 200.487 24.7594V32.3712Z" fill="#152124"/>
                        <path d="M30.1987 11.5278H34.9252L41.7767 24.7167C43.0863 22.4859 44.0328 20.255 45.1221 18.11C46.2115 15.965 47.2948 13.728 48.3842 11.5278H52.9737C48.8604 19.8751 44.8126 28.0752 40.7409 36.3366C39.5504 36.3366 38.4015 36.3366 37.2824 36.3366C37.0086 36.3366 36.7348 36.2876 36.2288 36.2386L39.5385 29.3929L30.1987 11.5278Z" fill="#152124"/>
                        <path d="M222 36.2689H218.226L218.107 36.1341C218.107 36.0912 218.024 36.0421 218.024 35.9992C218.024 28.0933 218.008 20.1914 217.976 12.2936C217.99 12.0426 218.02 11.7929 218.065 11.5459H222V36.2689Z" fill="#152124"/>
                        <path d="M150.686 14.4575H144.436V15.4442H150.883L150.686 14.4575Z" fill="#152124"/>
                        <path d="M156.99 14.4575L157.216 15.4442H192.111V14.4575H156.99Z" fill="#152124"/>
                        <path d="M172.324 32.3181H149.656V33.2435H172.467L172.324 32.3181Z" fill="#152124"/>
                        <path d="M178.363 32.3181L178.595 33.2435H192.113V32.3181H178.363Z" fill="#152124"/>
                        <path d="M181.772 25.5877C181.772 26.115 181.871 26.6372 182.063 27.126C182.261 27.6147 182.55 28.0583 182.915 28.4314C183.275 28.8048 183.704 29.1006 184.177 29.3017C184.65 29.5037 185.158 29.6078 185.671 29.6081C186.184 29.6083 186.691 29.5041 187.165 29.3017C187.639 29.1007 188.07 28.8049 188.433 28.4314C188.796 28.0581 189.083 27.6144 189.278 27.126C189.475 26.6384 189.576 26.1157 189.576 25.5877V25.3855C189.636 23.8293 189.143 22.304 188.189 21.0954C187.736 20.5002 187.205 19.9722 186.611 19.5265C186.109 19.1582 185.57 18.846 185.004 18.5949H184.867L184.695 18.5336C183.593 18.099 182.432 17.8466 181.254 17.7859C180.428 17.7538 179.603 17.8426 178.801 18.0495C178.363 18.1302 177.929 18.2387 177.504 18.3743C175.003 19.2788 172.944 21.1523 171.765 23.5959C171.387 24.4881 171.144 25.4347 171.045 26.4028C170.663 28.2299 170.733 30.1264 171.247 31.9186C171.986 34.6092 173.386 37.0579 175.313 39.0279C175.42 39.1504 175.551 39.273 175.694 39.414C178.515 42.3688 181.737 44.8873 185.26 46.8909L185.349 46.9461L185.451 47.0196C186.065 47.3951 186.706 47.7229 187.367 48.0002C187.44 47.9008 187.505 47.7963 187.564 47.6877C187.844 47.2158 188.207 46.5355 188.302 46.3639C181.129 42.1719 177.522 37.3731 176.039 32.9544C175.835 32.1263 175.702 31.2814 175.641 30.4294V29.0136C175.713 27.2104 176.194 25.4495 177.045 23.8717C177.303 23.4043 177.598 22.9595 177.926 22.5418C178.136 22.33 178.335 22.107 178.522 21.8738C179.487 20.8419 180.701 20.0913 182.04 19.6981C184.837 19.0852 186.207 20.5132 186.802 21.935C186.446 21.8179 186.074 21.758 185.701 21.7573C184.682 21.7463 183.7 22.1493 182.968 22.8789C182.244 23.588 181.815 24.5592 181.772 25.5877Z" fill="#152124"/>
                        <path d="M159.711 7.86334C159.755 8.89205 160.181 9.86404 160.901 10.5783C161.627 11.2935 162.593 11.693 163.598 11.6937C164.603 11.6942 165.569 11.2946 166.294 10.5783C167.014 9.86367 167.44 8.8919 167.485 7.86334C167.491 7.78992 167.491 7.71612 167.485 7.6427C167.551 6.0867 167.06 4.55987 166.104 3.35265C165.643 2.75566 165.102 2.22942 164.497 1.78984C163.976 1.42059 163.414 1.11612 162.824 0.882799L162.651 0.815383L162.479 0.754103C161.379 0.313625 160.217 0.0610663 159.038 0.00640592C158.213 -0.0257045 157.387 0.0630206 156.586 0.269934C156.148 0.347743 155.717 0.456269 155.294 0.594752C152.792 1.49757 150.733 3.3715 149.555 5.81637C149.169 6.70602 148.924 7.65369 148.829 8.62329C148.451 10.451 148.523 12.3471 149.037 14.1391C149.78 16.821 151.178 19.2622 153.097 21.2299L153.478 21.6099C156.312 24.5744 159.551 27.0974 163.092 29.0991L163.181 29.1543L163.276 29.2156C163.889 29.6085 164.527 29.9566 165.187 30.2574C165.247 30.1778 165.312 30.0613 165.39 29.9326C165.663 29.4607 166.026 28.7743 166.128 28.615C158.943 24.4107 155.341 19.6242 153.853 15.1993C153.568 14.0689 153.43 12.9045 153.442 11.7367V11.2341C153.514 9.43639 153.995 7.68118 154.847 6.11054C155.105 5.63915 155.4 5.19025 155.728 4.76836C155.938 4.56075 156.137 4.34186 156.324 4.1126C157.286 3.07885 158.498 2.32784 159.836 1.93693C162.639 1.32406 164.003 2.75204 164.598 4.16776C164.281 4.05075 163.951 3.97858 163.616 3.95325C162.587 3.94464 161.597 4.35428 160.86 5.09318C160.142 5.8284 159.73 6.82156 159.711 7.86334Z" fill="#152124"/>
                    </svg>

                a(href='/').header-logo__white
                    <svg width="222" height="48" viewBox="0 0 222 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.8936 30.2754C17.3819 23.8587 19.7689 17.7116 22.1738 11.5278H26.5192C27.6264 19.7647 28.7098 27.9404 29.7515 36.3428C28.8229 36.3428 28.1086 36.3428 27.3705 36.3428C26.8228 36.3428 26.2752 36.2999 25.6382 36.2692C24.9001 30.6921 24.1739 25.207 23.3941 19.3296L16.8163 36.2508H12.9709L6.42295 19.538C5.82769 22.6023 5.57172 25.348 5.23242 28.0752C4.89311 30.8025 4.48239 33.4929 4.08951 36.257H0L3.25612 11.5462H7.57778C9.95885 17.6259 12.3399 23.8158 14.8936 30.2754Z" fill="white"/>
                        <path d="M53.2061 28.1367L56.7777 27.2235C57.0039 27.8057 57.1646 28.2225 57.3313 28.6392C57.7314 29.7256 58.427 30.6703 59.3349 31.3604C60.2427 32.0506 61.3244 32.4569 62.4506 32.5309C64.2066 32.7454 65.9269 32.7025 67.5104 31.8016C69.2485 30.8149 69.689 28.4492 68.3616 27.1193C67.6769 26.4174 66.7561 26.0136 65.79 25.9916C64.3852 25.9549 62.9804 25.9426 61.5696 25.912C61.1291 25.912 60.6945 25.8691 60.1409 25.8446V21.91C61.3315 21.91 62.4923 21.91 63.653 21.8487C64.721 21.9207 65.7911 21.7448 66.7841 21.3339C67.2527 21.1377 67.6572 20.8081 67.9503 20.3837C68.2434 19.9592 68.4129 19.4576 68.439 18.9376C68.4947 18.3623 68.3913 17.7826 68.1406 17.2653C67.8899 16.748 67.5022 16.3143 67.0222 16.0142C66.0454 15.4346 64.9351 15.1361 63.8078 15.1501C62.1589 15.0826 60.5338 15.3278 59.2123 16.4493C58.6584 16.9308 58.1822 17.4996 57.8015 18.1347C57.4161 18.8795 57.0781 19.6492 56.7896 20.4391C55.599 20.5739 54.4859 20.0285 53.218 19.6791C53.2827 18.1139 53.8312 16.6109 54.7835 15.3891C55.6368 14.1249 56.7641 13.0825 58.0762 12.3443C59.3883 11.6061 60.8492 11.1924 62.3434 11.1358C64.8782 10.8385 67.435 11.4512 69.5819 12.8702C72.3499 14.7946 73.3916 18.2634 71.963 21.1745C71.3878 22.105 70.728 22.9772 69.9926 23.7792C70.1226 23.9151 70.2663 24.0363 70.4212 24.1408C73.9274 26.2491 74.5107 31.6974 70.3796 34.676C67.5461 36.7168 64.3733 37.0723 61.0338 36.3981C57.0634 35.6014 54.5752 33.156 53.3668 29.2766C53.2856 28.9013 53.2319 28.5203 53.2061 28.1367Z" fill="white"/>
                        <path d="M119.829 11.5532V36.3436C118.978 36.3436 118.204 36.3436 117.448 36.3436C116.954 36.3436 116.466 36.2946 115.817 36.2578V15.6778H107.174C106.656 16.2049 106.763 16.9771 106.71 17.7003C106.466 21.071 106.305 24.4418 105.954 27.8064C105.818 29.8737 105.206 31.878 104.168 33.6532C103.676 34.4262 103.017 35.0714 102.243 35.5382C101.468 36.005 100.599 36.2807 99.7034 36.3436C99.2094 36.4049 98.7093 36.4233 98.0426 36.4785C97.8878 35.2527 97.7331 34.027 97.5664 32.6787C97.8863 32.4822 98.2337 32.3376 98.5962 32.2497C100.346 32.0965 101.209 30.9627 101.513 29.3876C101.846 27.6485 102.079 25.8906 102.209 24.1231C102.519 20.1272 102.739 16.1558 103.007 12.1293C103.046 11.9339 103.104 11.743 103.18 11.5593L119.829 11.5532Z" fill="white"/>
                        <path d="M84.4099 26.0601H81.6241V36.0682C80.8978 36.5094 80.2133 36.3072 79.5644 36.3378C78.9156 36.3685 78.225 36.3378 77.5822 36.3378C77.2369 35.0263 77.1179 14.955 77.4155 11.6516C78.0108 11.2778 78.6894 11.4861 79.3382 11.4555C79.9871 11.4248 80.6776 11.4555 81.5407 11.4555C81.6836 14.9059 81.5407 18.2644 81.6359 21.6474C82.505 21.9906 83.3384 21.7945 84.3266 21.8313L92.3449 11.5229H97.351L87.8267 23.9028L97.3153 36.2643H92.3091L84.4099 26.0601Z" fill="white"/>
                        <path d="M132.824 11.4924H137.069C140.432 19.6558 143.819 27.8621 147.266 36.2216H142.932L140.134 29.48H129.753L126.907 36.2767H122.592L132.824 11.4924ZM134.938 16.7263L131.336 25.5209C132.61 25.5209 133.717 25.5209 134.842 25.5209C136.059 25.563 137.277 25.5364 138.491 25.4413C137.301 22.5301 136.194 19.8029 134.967 16.7263H134.938Z" fill="white"/>
                        <path d="M196.171 36.1771V11.5828C197.554 11.4045 198.951 11.3881 200.338 11.5338C200.439 14.5981 200.338 17.5889 200.409 20.7267C202.094 20.7267 203.653 20.7267 205.213 20.7267C206.773 20.7267 208.344 20.6532 209.868 21.2538C212.969 22.4795 214.743 24.7594 214.91 28.075C215.071 31.2313 213.672 33.7195 210.91 35.2823C209.836 35.9237 208.621 36.2718 207.38 36.2935C203.844 36.2935 200.302 36.2935 196.76 36.2935C196.561 36.2732 196.363 36.2343 196.171 36.1771ZM200.487 32.3712C202.612 32.3712 204.618 32.4141 206.624 32.3712C207.348 32.3304 208.059 32.1582 208.725 31.8625C210.183 31.2496 210.695 29.9442 210.838 28.4795C210.243 25.9116 209.558 25.0597 207.088 24.8023C204.933 24.5878 202.749 24.7594 200.487 24.7594V32.3712Z" fill="white"/>
                        <path d="M30.1992 11.5278H34.9257L41.7772 24.7167C43.0868 22.4859 44.0333 20.255 45.1226 18.11C46.212 15.965 47.2953 13.728 48.3847 11.5278H52.9742C48.8609 19.8751 44.8131 28.0752 40.7414 36.3366C39.5509 36.3366 38.402 36.3366 37.2829 36.3366C37.0091 36.3366 36.7353 36.2876 36.2293 36.2386L39.539 29.3929L30.1992 11.5278Z" fill="white"/>
                        <path d="M222.001 36.2689H218.227L218.108 36.1341C218.108 36.0912 218.024 36.0421 218.024 35.9992C218.024 28.0933 218.008 20.1914 217.977 12.2936C217.991 12.0426 218.02 11.7929 218.066 11.5459H222.001V36.2689Z" fill="white"/>
                        <path d="M150.687 14.4575H144.437V15.4442H150.883L150.687 14.4575Z" fill="white"/>
                        <path d="M156.99 14.4575L157.216 15.4442H192.111V14.4575H156.99Z" fill="white"/>
                        <path d="M172.324 32.3181H149.656V33.2435H172.467L172.324 32.3181Z" fill="white"/>
                        <path d="M178.362 32.3181L178.594 33.2435H192.113V32.3181H178.362Z" fill="white"/>
                        <path d="M181.772 25.5877C181.773 26.115 181.872 26.6372 182.064 27.126C182.261 27.6147 182.551 28.0583 182.915 28.4314C183.276 28.8048 183.705 29.1006 184.177 29.3017C184.651 29.5037 185.159 29.6078 185.671 29.6081C186.184 29.6083 186.692 29.5041 187.165 29.3017C187.64 29.1007 188.071 28.8049 188.433 28.4314C188.796 28.0581 189.083 27.6144 189.279 27.126C189.475 26.6384 189.576 26.1157 189.576 25.5877V25.3855C189.636 23.8293 189.143 22.304 188.189 21.0954C187.736 20.5002 187.205 19.9722 186.612 19.5265C186.11 19.1582 185.571 18.846 185.005 18.5949H184.868L184.695 18.5336C183.594 18.099 182.432 17.8466 181.254 17.7859C180.429 17.7538 179.603 17.8426 178.802 18.0495C178.363 18.1302 177.93 18.2387 177.504 18.3743C175.004 19.2788 172.945 21.1523 171.766 23.5959C171.388 24.4881 171.145 25.4347 171.046 26.4028C170.664 28.2299 170.733 30.1264 171.248 31.9186C171.986 34.6092 173.387 37.0579 175.314 39.0279C175.421 39.1504 175.552 39.273 175.695 39.414C178.516 42.3688 181.738 44.8873 185.261 46.8909L185.35 46.9461L185.451 47.0196C186.065 47.3951 186.706 47.7229 187.368 48.0002C187.44 47.9008 187.506 47.7963 187.564 47.6877C187.844 47.2158 188.207 46.5355 188.302 46.3639C181.129 42.1719 177.522 37.3731 176.04 32.9544C175.836 32.1263 175.702 31.2814 175.641 30.4294V29.0136C175.714 27.2104 176.195 25.4495 177.046 23.8717C177.304 23.4043 177.598 22.9595 177.927 22.5418C178.136 22.33 178.335 22.107 178.522 21.8738C179.488 20.8419 180.702 20.0913 182.04 19.6981C184.838 19.0852 186.207 20.5132 186.802 21.935C186.446 21.8179 186.075 21.758 185.701 21.7573C184.682 21.7463 183.701 22.1493 182.969 22.8789C182.244 23.588 181.815 24.5592 181.772 25.5877Z" fill="white"/>
                        <path d="M159.711 7.86334C159.755 8.89205 160.181 9.86404 160.902 10.5783C161.628 11.2935 162.593 11.693 163.598 11.6937C164.603 11.6942 165.57 11.2946 166.295 10.5783C167.015 9.86367 167.441 8.8919 167.485 7.86334C167.491 7.78992 167.491 7.71612 167.485 7.6427C167.552 6.0867 167.06 4.55987 166.104 3.35265C165.644 2.75566 165.102 2.22942 164.497 1.78984C163.976 1.42059 163.415 1.11612 162.824 0.882799L162.652 0.815383L162.479 0.754103C161.379 0.313625 160.217 0.0610663 159.038 0.00640592C158.213 -0.0257045 157.387 0.0630206 156.586 0.269934C156.149 0.347743 155.717 0.456269 155.294 0.594752C152.793 1.49757 150.733 3.3715 149.556 5.81637C149.17 6.70602 148.924 7.65369 148.83 8.62329C148.452 10.451 148.523 12.3471 149.038 14.1391C149.781 16.821 151.178 19.2622 153.098 21.2299L153.479 21.6099C156.312 24.5744 159.551 27.0974 163.092 29.0991L163.182 29.1543L163.277 29.2156C163.889 29.6085 164.528 29.9566 165.188 30.2574C165.247 30.1778 165.313 30.0613 165.39 29.9326C165.664 29.4607 166.027 28.7743 166.128 28.615C158.943 24.4107 155.342 19.6242 153.854 15.1993C153.569 14.0689 153.43 12.9045 153.443 11.7367V11.2341C153.514 9.43639 153.995 7.68118 154.848 6.11054C155.105 5.63915 155.4 5.19025 155.729 4.76836C155.938 4.56075 156.137 4.34186 156.324 4.1126C157.286 3.07885 158.498 2.32784 159.836 1.93693C162.64 1.32406 164.003 2.75204 164.598 4.16776C164.282 4.05075 163.951 3.97858 163.616 3.95325C162.587 3.94464 161.597 4.35428 160.86 5.09318C160.143 5.8284 159.731 6.82156 159.711 7.86334Z" fill="white"/>
                    </svg>

            .header-menu
                .header-menu__row
                    span.header-menu__seporate.header-menu__seporate--one
                    a(href="#").header-menu__item Родителям
                    span.header-menu__seporate.header-menu__seporate--two
                    a(href="#").header-menu__item Направления
                    span.header-menu__seporate
                .header-menu__row
                    span.header-menu__seporate.header-menu__seporate--two
                    a(href="#").header-menu__item Инструменты
                    span.header-menu__seporate.header-menu__seporate--two
                    a(href="#").header-menu__item Статьи
                    span.header-menu__seporate
            .header-buttons
                button.btn.btn--header-location
                    include ../svg-icons/header_location.pug
                    span Комсомольск-на-Амуре
                button.header-buttons__menu.js-toggle-menu
                    span
                    span
                    span

        .header-collapse-menu.js-collapse-menu
            .header-collapse-menu__content
                .content-wrapper
                    .header-collapse-menu__search
                        +search-input("Поиск")
                    .header-collapse-menu__columns
                        .header-collapse-menu__column.header-collapse-menu__column--mobile
                            .header-collapse-menu__column-header
                                .header-collapse-menu__column-title.js-collapse-menu-toggle-accardion Родителям и ученикам
                                .header-collapse-menu__column-arrow
                                    include ../svg-icons/arrow-toggle
                            .header-collapse-menu__column-list
                                ul
                                    li
                                        a(href="#") Найти ДШИ
                                    li
                                        a(href="#") Выбрать программу
                                    li
                                        a(href="#") Интервью с музыкантами

                        .header-collapse-menu__menu
                            a(href="#").header-collapse-menu__menu-item Найти школу
                            a(href="#").header-collapse-menu__menu-item Выбрать программу
                            a(href="#").header-collapse-menu__menu-item Интервью с музыкантами
                            a(href="#").header-collapse-menu__menu-item Музыкальная теория
                            a(href="#").header-collapse-menu__menu-item Конкурсы
                            a(href="#").header-collapse-menu__menu-item Игры

                        .header-collapse-menu__column.header-collapse-menu__column--mobile
                            .header-collapse-menu__column-header
                                .header-collapse-menu__column-title.js-collapse-menu-toggle-accardion Самостоятельным
                                .header-collapse-menu__column-arrow
                                    include ../svg-icons/arrow-toggle
                            .header-collapse-menu__column-list
                                ul
                                    li
                                        a(href="#") Найти ДШИ
                                    li
                                        a(href="#") Выбрать программу
                                    li
                                        a(href="#") Интервью с музыкантами
                        .header-collapse-menu__column.header-collapse-menu__column--mobile
                            .header-collapse-menu__column-header
                                .header-collapse-menu__column-title.js-collapse-menu-toggle-accardion музыкальные инструменты
                                .header-collapse-menu__column-arrow
                                    include ../svg-icons/arrow-toggle
                            .header-collapse-menu__column-list
                                ul
                                    li
                                        a(href="#") Найти ДШИ
                                    li
                                        a(href="#") Выбрать программу
                                    li
                                        a(href="#") Интервью с музыкантами
                        .header-collapse-menu__column
                            .header-collapse-menu__column-header
                                .header-collapse-menu__column-icon
                                    <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_1822_50245)">
                                        <path d="M11.1625 9.55115H1.61133L2.95294 0H12.5059L11.1625 9.55115Z" fill="#FFD15C"/>
                                        <path d="M22.6566 9.55115H13.1055L14.4471 0H24L22.6566 9.55115Z" fill="#FFD15C"/>
                                        <path d="M9.55115 21.0133H0L1.34161 11.4622H10.8946L9.55115 21.0133Z" fill="#FFD15C"/>
                                        <path d="M21.0131 21.0133H11.4619L12.8035 11.4622H22.3547L21.0131 21.0133Z" fill="#FFD15C"/>
                                        </g>
                                        <defs>
                                        <clipPath id="clip0_1822_50245">
                                        <rect width="24" height="21.0132" fill="white"/>
                                        </clipPath>
                                        </defs>
                                    </svg>

                                .header-collapse-menu__column-title.js-collapse-menu-toggle-accardion Список категорий
                                .header-collapse-menu__column-arrow
                                    include ../svg-icons/arrow-toggle
                            .header-collapse-menu__column-list
                                ul
                                    li
                                        a(href="#") Найти ДШИ
                                    li
                                        a(href="#") Выбрать программу
                                    li
                                        a(href="#") Интервью с музыкантами
                                    li
                                        a(href="#") Теория
                                    li
                                        a(href="#") Игры
                                    li
                                        a(href="#") Конкурсы
                                    li
                                        a(href="#") Найти ДШИ
                                    li
                                        a(href="#") Выбрать программу
                                    li
                                        a(href="#") Интервью с музыкантами
                                    li
                                        a(href="#") Теория
                                    li
                                        a(href="#") Игры
                                    li
                                        a(href="#") Конкурсы
                                    li
                                        a(href="#") Подкасты о музыке
                                    li
                                        a(href="#") Видеокурсы
                                    li
                                        a(href="#") Мастерклассы
                                    li
                                        a(href="#") Истории и статьи
                                    li
                                        a(href="#") Ноты
                                    li
                                        a(href="#") Классификатор
                                    li
                                        a(href="#") Российские производители
                                    li
                                        a(href="#") Каталог инструментов

                        .header-collapse-menu__column
                            .header-collapse-menu__column-header
                                .header-collapse-menu__column-icon
                                    <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_1822_50293)">
                                        <path d="M0.548163 14.8958L0 18.5899H21.8074L22.3555 14.8958H0.548163Z" fill="#FFD15C"/>
                                        <path d="M2.19269 3.81323L1.64453 7.50737H23.4519L24 3.81323H2.19269Z" fill="#FFD15C"/>
                                        <path d="M17.6893 21.4499L20.8727 0H17.1785L13.9951 21.4499H17.6893Z" fill="#FFD15C"/>
                                        <path d="M6.60723 21.4499L9.79066 0H6.09652L2.91309 21.4499H6.60723Z" fill="#FFD15C"/>
                                        </g>
                                        <defs>
                                        <clipPath id="clip0_1822_50293">
                                        <rect width="24" height="21.4499" fill="white"/>
                                        </clipPath>
                                        </defs>
                                    </svg>

                                .header-collapse-menu__column-title.js-collapse-menu-toggle-accardion Популярные теги
                                .header-collapse-menu__column-arrow
                                    include ../svg-icons/arrow-toggle
                            .header-collapse-menu__column-list
                                ul
                                    li
                                        a(href="#") Найти ДШИ
                                    li
                                        a(href="#") Выбрать программу
                                    li
                                        a(href="#") Интервью с музыкантами
                                    li
                                        a(href="#") Теория
                                    li
                                        a(href="#") Игры
                                    li
                                        a(href="#") Конкурсы
                                    li
                                        a(href="#") Найти ДШИ
                                    li
                                        a(href="#") Выбрать программу
                                    li
                                        a(href="#") Интервью с музыкантами
                                    li
                                        a(href="#") Теория
                                    li
                                        a(href="#") Игры
                                    li
                                        a(href="#") Конкурсы
                                    li
                                        a(href="#") Подкасты о музыке
                                    li
                                        a(href="#") Видеокурсы
                                    li
                                        a(href="#") Мастерклассы
                                    li
                                        a(href="#") Истории и статьи
                                    li
                                        a(href="#") Ноты
                                    li
                                        a(href="#") Классификатор
                                    li
                                        a(href="#") Российские производители
                                    li
                                        a(href="#") Каталог инструментов
                        .header-collapse-menu__column
                            .header-collapse-menu__column-header
                                .header-collapse-menu__column-icon
                                    <svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_1822_50343)">
                                        <path d="M6.23145 22.0084C8.65933 20.7825 9.92699 18.4013 9.06284 16.6898C8.1987 14.9784 5.52999 14.5847 3.10211 15.8106C0.674238 17.0365 -0.593419 19.4177 0.270724 21.1291C1.13487 22.8406 3.80358 23.2342 6.23145 22.0084Z" fill="#FFD15C"/>
                                        <path d="M18.1807 22.0079C20.6085 20.782 21.8762 18.4008 21.0121 16.6894C20.1479 14.9779 17.4792 14.5843 15.0513 15.8101C12.6235 17.036 11.3558 19.4172 12.2199 21.1286C13.0841 22.8401 15.7528 23.2337 18.1807 22.0079Z" fill="#FFD15C"/>
                                        <path d="M9.24989 18.8267L11.8575 1.07373L8.46517 0.0500488L5.70898 18.8267H9.24989Z" fill="#FFD15C"/>
                                        <path d="M21.2935 18.1808L23.8059 1.07373L20.4135 0.0500488L17.751 18.1808H21.2935Z" fill="#FFD15C"/>
                                        <path d="M24.0004 0H6.48964L5.96973 3.50377H23.4595L24.0004 0Z" fill="#FFD15C"/>
                                        </g>
                                        <defs>
                                        <clipPath id="clip0_1822_50343">
                                        <rect width="24" height="22.7196" fill="white"/>
                                        </clipPath>
                                        </defs>
                                    </svg>

                                .header-collapse-menu__column-title.js-collapse-menu-toggle-accardion Инструменты
                                .header-collapse-menu__column-arrow
                                    include ../svg-icons/arrow-toggle
                            .header-collapse-menu__column-list
                                ul
                                    li
                                        a(href="#") Найти ДШИ
                                    li
                                        a(href="#") Выбрать программу
                                    li
                                        a(href="#") Интервью с музыкантами
                                    li
                                        a(href="#") Теория
                                    li
                                        a(href="#") Игры
                                    li
                                        a(href="#") Конкурсы
                                    li
                                        a(href="#") Найти ДШИ
                                    li
                                        a(href="#") Выбрать программу
                                    li
                                        a(href="#") Интервью с музыкантами
                                    li
                                        a(href="#") Теория
                                    li
                                        a(href="#") Игры
                                    li
                                        a(href="#") Конкурсы
                                    li
                                        a(href="#") Подкасты о музыке
                                    li
                                        a(href="#") Видеокурсы
                                    li
                                        a(href="#") Мастерклассы
                                    li
                                        a(href="#") Истории и статьи
                                    li
                                        a(href="#") Ноты
                                    li
                                        a(href="#") Классификатор
                                    li
                                        a(href="#") Российские производители
                                    li
                                        a(href="#") Каталог инструментов


                    .header-collapse-menu__footer
                        .header-collapse-menu__footer-phone hello@muzklassy.ru
                        .header-collapse-menu__footer-phone +7 (499) 709 84 59
                        .header-collapse-menu__footer-description
                            |Ответим на письмо по будням с 09.00 до 22.00 МСК
