mixin search-input(placeholder="Поиск")
    .search-input
        input.search-input__input(placeholder=placeholder)
        .search-input__icon
            <svg width="28" height="27" viewBox="0 0 28 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="11.2681" cy="10.5176" r="7.27309" transform="rotate(-45 11.2681 10.5176)" stroke="#152124" stroke-width="2"/>
                <path d="M16.4111 15.6602L21.8754 21.1244" stroke="#152124" stroke-width="2"/>
            </svg>
