<svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M3.33301 2.16634L6.66634 5.49967L3.33301 8.83301" stroke-linecap="round" stroke-linejoin="round"/>
</svg>