<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g opacity="0.5">
        <path d="M13.0008 3L3 13.0008" stroke="#152124" stroke-width="2" stroke-linecap="round"/>
        <path d="M2.99922 2.99902L13 12.9998" stroke="#152124" stroke-width="2" stroke-linecap="round"/>
    </g>
</svg>
