<svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="2.09082" y="0.25" width="28.5" height="2.25" transform="rotate(45 2.09082 0.25)" fill="#152124"/>
<rect x="0.59082" y="20.5" width="28.5" height="2.25" transform="rotate(-45 0.59082 20.5)" fill="#152124"/>
</svg>
