<svg width="12" height="24" viewBox="0 0 12 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path opacity="0.99" d="M11.9997 3.98407L9.82447 3.98507C8.11874 3.98507 7.78891 4.82694 7.78891 6.06216V8.78594H11.8565L11.8546 13.0521H7.78924V24H3.54662V13.0521H0V8.78594H3.54662V5.63973C3.54662 1.98853 5.69447 0 8.83018 0L12 0.00501309V3.98407H11.9997Z" fill="#152124"/>
</svg>
