<svg width="12" height="18" viewBox="0 0 12 18" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.99119 17.5C5.99119 17.5 11.5 12.1182 11.5 6.19091C11.5 4.68158 10.9196 3.23408 9.8865 2.16683C8.8534 1.09958 7.45222 0.5 5.99119 0.5C4.53322 0.504812 3.13657 1.10651 2.10727 2.17324C1.07798 3.23997 0.499993 4.68473 0.5 6.19091C0.5 12.2273 5.99119 17.5 5.99119 17.5ZM8.49082 6.5887C8.49082 8.00456 7.37977 9.15234 6.00922 9.15234C4.63867 9.15234 3.52762 8.00456 3.52762 6.5887C3.52762 5.17284 4.63867 4.02506 6.00922 4.02506C7.37977 4.02506 8.49082 5.17284 8.49082 6.5887Z"/>
</svg>
