<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect width="24" height="25" rx="4" fill="#CB4941"/>
    <path d="M18.498 6.5H16.158L12.072 16.832L7.968 6.5H5.646L3.828 20H6.042L7.302 10.622L11.046 20H13.098L16.824 10.604L18.084 20H20.298L18.498 6.5Z" fill="white"/>
</svg>
