extend ./_layout

block content
    .content-wrapper
        +bread-crumbs('', 'Главная страница', 'Разбор')
        +page-title('Про выпускников и перспективы')
        .analysis-subtitle
            span 7 карточек
            span 29 сентября 2021
    .container
        .content-wrapper
            .analysis
                .analysis-menu
                    .analysis-menu__item
                        span 1
                        span Играем просто соло
                    .analysis-menu__item
                        span 2
                        span Играем просто соло
                    .analysis-menu__item
                        span 3
                        span Играем просто соло
                    .analysis-menu__item
                        span 4
                        span Играем просто соло
                    .analysis-menu__item
                        span 5
                        span Играем просто соло
                .analysis-list
                    .analysis-list__item
                        .analysis-list__num 1
                        .analysis-list__title Играем просто соло
                        .analysis-list__text
                            | На этом этапе обобщения происходит доведение произведения до эстрадной готовности. Здесь необходимо проигрывать произведение полностью, но быть осторожным с маленькими детьми, т.к. есть опасность «заболтать» произведение.
                    .analysis-list__item
                        .analysis-list__num 2
                        .analysis-list__title Играем просто соло
                        .analysis-list__text
                            | На этом этапе обобщения происходит доведение произведения до эстрадной готовности. Здесь необходимо проигрывать произведение полностью, но быть осторожным с маленькими детьми, т.к. есть опасность «заболтать» произведение.
                    .analysis-list__item
                        .analysis-list__num 3
                        .analysis-list__title Играем просто соло
                        .analysis-list__text
                            | На этом этапе обобщения происходит доведение произведения до эстрадной готовности. Здесь необходимо проигрывать произведение полностью, но быть осторожным с маленькими детьми, т.к. есть опасность «заболтать» произведение.
