extend ./_layout-white-bg
block content
    ul
        li
            a(href="/home.html") Главная
        li
            a(href="/search.html") Музыкальные школы
        li
            a(href="/school.html") Школа
        li
            a(href="/catalog.html") Каталог
        li
            a(href="/catalog-item-page.html") Страница инструмента
        li
            a(href="/parents.html") Для родителей
        li
            a(href="/self-taught.html") Для обучающихся самостоятельно
        li
            a(href="/events.html") Конкурсы
        li
            a(href="/event.html") Страница конкурса
        li
            a(href="/music-notes.html") Ноты
        li
            a(href="/vocabulary.html")  Словарь
        li
            a(href="/term.html") Термин
        li
            a(href="/404.html") 404


        li
            a(href="/video-courses.html") Видеокурсы
        li
            a(href="/video-course.html") Видеокурс
        li
            a(href="/music-games.html") Музыкальные игры
        li
            a(href="/podcasts.html") Подкасты
        li
            a(href="/podcast.html") Подкаст
        li
            a(href="/producers.html")  Производители
        li
            a(href="/producer.html")  Производитель
        li
            a(href="/articles.html")  Статьи
        li
            a(href="/notes-library.html")  Библиотека нот

        li
            a(href="/analysis.html")  Разбор
        li
            a(href="/search-tag.html")  Поиск по тэгу
        li
            a(href="/game.html")  Страница игры
