extend ./_layout
block content
    .content-wrapper
        +bread-crumbs('', 'Главная страница', 'Музыкальная теория', 'Музыкальный словарь', 'Альт')
        .term-page
            h1.term-page__title Альт
            .term-page__subtitle (нем. Alt, итал. alto, от лат. altus — высокий).
            p 1) Второй по высоте голос в музыке четырёхголосного склада. В этом значении термин «А.» стал применяться с 15 в. Ранее в трёхголосном изложении голос, звучавший выше, а иногда и ниже тенора, назывался контратенором. С переходом к 4-голосию стали различать контратенор-альт и контратенор-бас, позднее именовавшиеся просто альтом и басом. В ранних четырёхголосных сочинениях a cappella (конец 15 в.) партия альта исполнялась мужчинами. В трёхголосных хор. партитурах и в более поздние эпохи (16-17 вв.) партию альта иногда поручали I тенорам.
            p 2) Партия в хоре или вок. ансамбле, исполняемая низкими детскими или низкими женскими голосами (меццо-сопрано, контральто). С конца 18 в. в оперных хор. партитурах в Италии, а позднее и во Франции («Гранд-Опера», «Опера лирик») партия низкого жен. голоса получает наименование меццо-сопрано, или среднее сопрано. С этого времени партии в однородных жен. хорах стали носить назв. жен. голосов: сопрано, меццо-сопрано, контральто. В вок.-симф. сочинениях (за исключением Реквиема Берлиоза, Stabat mater Россини и др.) и в хорах a cappella сохранилось старое наименование — альт.
            p 3) В странах нем. языка название контральто.
            p 4) Низкие детские голоса. Вначале так называли голоса мальчиков, певших партию А. в хоре, позднее — всякий низкий детский певческий голос (как мальчиков, так и девочек), диапазон его — (g)a — es2(e2).

            .term-page-literature
                .term-page-literature__title Литература:
                ul.term-page-literature__list
                    li Струве Б. А., Процесс формирования виол и скрипок, М., 1959;
                    li Гринберг М. М., Русская альтовая литература, М., 1967;
                    li Straeten E. van der, The viola, «The Strad», XXIII, 1912;
                    li Сlarke R., The history of the viola in Quartet writing, «ML», IV, 1923, No 1;
                    li AltmannW., Borislowsky W., Literaturverzeichnis fьr Bratsche und Viola d’amore, Wolfenbьttel, 1937;
                    li Thоurs B. and Shore В., The viola, L., 1946;
                    li Zeyringer Fr., Literatur fьr Viola, Kassel, 1963, Ergдnzungsband, 1965, Kassel, 1966.
