extend ./_layout
block header
    +header('header--light')
block content
    .content-dark
        .content-wrapper
            +bread-crumbs('bread-crumbs--white', 'Главная страница', 'Видеокурсы', 'Для начинающих гитаристов')

            .video-course-page
                .video-course-page-image
                    img(src="/images/guitar2.png")
                .video-course-page-description
                    .video-course-page-description__title
                        h1 Для начинающих гитаристов
                    .video-course-page-description__length
                        span 8 эпизодов • 8 ч
                        .video-course-page-description__title-like
                            include ./svg-icons/like
                            | 235
                    .video-course-page-description__text
                        |Курс электрогитары для начинающих — 6 недель, 18 уроков, индивидуальные рекомендации преподавателя. Вы научитесь правильно держать и настраивать инструмент, быстро определять ноты на грифе, использовать различные эффекты и примочки, разбираться во всем сопутствующем оборудовании.

                    .video-course-page-platforms
                        .video-course-page-platforms__title Для кого
                        .video-course-page-platforms__buttons
                            a(href="#").btn.btn--white-transparent Для начинающих
                            a(href="#").btn.btn--white-transparent Инструментовка
                            a(href="#").btn.btn--white-transparent Электрогитары

    .content-wrapper
        .video-course-page-author
            .video-course-page-author-image
                img(src="/images/podcast-author.jpg")
            .video-course-page-author-description
                .video-course-page-author-description__title Ведущий — Алекс Дубас
                .video-course-page-author-description__subtitle Теле- и радиоведущий (Серебярный дождь, Телеканал Культура), писатель и журналист, путешественник, исследователь
                .video-course-page-author-description__text Вместе с Алексом мы готовим подкаст, состоящий из 8 выпусков. Каждый выпуск будет посвящен какому-то конкретному инструменту. Инструмент становится главным героем, который оживает в разговоре ведущего и гостя.

    .content-wrapper
        .video-course-page-video
            .video-course-page-video__player
                video(controls=true, poster="/images/guitar2.png")
                    source(src="/images/guitar2.png")
                //img(src="/images/guitar2.png")
            .video-course-page-video__description
                .video-course-page-video__date 12 октября 2021
                .video-course-page-video__title Курс для начинающих гитаристов. Урок 1
                .video-course-page-video__text
                    | Композитор и музыкальный продюсер Антон Беляев, не менее известный как лидер Therr Maitz, рассказывает о своём творчестве и шоу LAB. Возможно ли сочетать творчество и отдых на острове, как артисту не попасть в плен собственного стиля, где искать новые пространства для экспериментов, и какими могут быть электронные инструменты — все это в последнем выпуске сезона «И в чем же Соль?»
        .video-course-page-lessons
            +video-course-lesson("Курс для начинающих гитаристов. Урок 2", "/images/guitar2.png")
            +video-course-lesson("Курс для начинающих гитаристов. Урок 3", "/images/guitar2.png")
            +video-course-lesson("Курс для начинающих гитаристов. Урок 4", "/images/guitar2.png")
            +video-course-lesson("Курс для начинающих гитаристов. Урок 5", "/images/guitar2.png")
            +video-course-lesson("Курс для начинающих гитаристов. Урок 6", "/images/guitar2.png")
            +video-course-lesson("Курс для начинающих гитаристов. Урок 7", "/images/guitar2.png")
            +video-course-lesson("Курс для начинающих гитаристов. Урок 8", "/images/guitar2.png")
            +video-course-lesson("Курс для начинающих гитаристов. Урок 9", "/images/guitar2.png")
            +video-course-lesson("Курс для начинающих гитаристов. Урок 10", "/images/guitar2.png")


