.catalog-item-slider {
    &__title {
        font-size: 40px;
        line-height: 130%;
        color: #152124;
        margin-bottom: $i32;
        @include  mq($mqMobile) {
            font-size: 32px;
        }
    }
    .swiper {
        &-slide {
            max-width: 376px;
            width: 100%;
            min-height: 440px;
            @include mq($mqMobile) {
                min-height: 400px;
                max-width: 282px;
            }
            .catalog-item {
                border-radius: 20px;
                min-height: 440px;
                @include mq($mqMobile) {
                    min-height: 400px;
                }
            }
        }
    }
    .slider-controls {
        @include mq($mqMobile) {
            display: none;
        }
    }
}
