.pick-school {
    position: relative;
    width: 100%;
}

.pick-school__map {
    width: 100%;
    height: 450px;
}

.pick-school__map.long {
    height: 600px;
    @include mq($mqMobileS) {
        height: 720px;
    }
}

.pick-school__content {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    @include mq($mqMobileS) {
        bottom: 0;
        left: 0;
        height: 50%;
        width: 100%;
        transform: translateY(100%);
    }
}

.pick-school__toggle {
    height: 100%;
    padding: $i96;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $yellow-accent;
    @include mq($mqMobileS) {
        align-items: center;
        padding: 32px 24px;

        & .btn {
            width: 100%;
        }
    }
}

.pick-school__title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    color: #152124;
    margin-bottom: $i16;
    @include mq($mqMobileS) {
        font-size: 26px;
    }
}

.pick-school__btn {
    width: 170px;
    min-width: 170px;
}

.pick-school__card {
    position: absolute;
    bottom: 30px;
    width: 328px;
    padding: 16px;
    background-color: #fff;
    border-radius: 12px;
    display: none;
    @include mq($mqMobileS) {
        left: 50%;
        transform: translateX(-50%);
    }
}

.pick-school__card.open {
    display: block;
}

.pick-school__card-info {
    display: flex;
    flex-direction: column;
    margin-bottom: $i32;
}

.pick-school__card-title {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #152124;
    margin-bottom: $i16;
}

.pick-school__card-item {
    font-family: 'Kazimir Text';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #152124;
    text-decoration: none;
    margin-bottom: $i8;
}

.pick-school__filter {
    position: absolute;
    top: 20px;
    width: 100%;
    display: none;
}

.pick-school__filter.open {
    display: block;
}

.pick-school__filter-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mq($mqMobileS) {
        flex-direction: column;
        .pick-school__left, .pick-school__right {
            width: 100%;
        }
        .pick-school__left {
            margin-bottom: $i8;
        }
    }
    .btn {
        margin-left: 10px;
    }
}
