.producer-catalog-item {
    background: #FCFCFC;
    border: 1px solid rgba(21, 33, 36, 0.1);
    border-radius: 20px;
    padding: $i24;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    &__title {
        font-size: 24px;
        line-height: 120%;
        font-weight: 500;
        margin-bottom: $i64;
    }
    &__image {
        img {
            max-width: 100%;
        }
    }
}

